.menu {
    height: 56px;
    display: flex;
}

.container {
    height: calc(100vh - 364px);
    overflow: auto;
    /* border: 1px solid red;
    box-sizing: border-box; */
}

.items {
    margin-top: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
}

.item {
    padding: 0;
    list-style-type: none;
    width: 272px;
    height: 208px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: box-shadow .3s ease-in-out;
    border-radius: 20px;

    /* border: 1px solid green;
    box-sizing: border-box; */
}
.item:hover {
    box-shadow: 0 0 15px 0 #4c4cff80;
}

.title {
   height: 48px;
   text-align: center;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
}