.menu {
    display: flex;
}

.container {
    height: calc(100vh - 364px);
    overflow: auto;
}

.items {
    margin-top: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    list-style-type: none;
    justify-items: center;

}
